@import '../../styles/variables';

.chart-wrapper {
  height: 180px;
  width: 100%;
}

.filter-line {
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: rgba(0, 255, 65, 0.4);
}

.filter-count {
  color: $primary;
}

.filter-dim {
  color: rgba(0, 255, 65, 0.25);
}
