@import '../../styles/variables';

.empty {
  font-size: 0.75rem;
  color: #444444;
}

.fav-card {
  border: 1px solid $divider;
  border-radius: $border-radius;
  border-bottom: 1px solid $divider;
}

.station-name {
  font-weight: 600;
  font-size: 0.8rem;
  color: $primary;
}

.station-location {
  font-size: 0.7rem;
  color: $sub;
}

.untrack-btn {
  font-size: 0.6rem;
  padding: 2px 6px;
}
